* {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(360deg, #213c55 80%, #016968 98%);
  padding: 0;
  margin: 0;
  color: white;
  width: 100%;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

p,
h3 {
  margin: 0;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------------Header------------------------------------------------------------- */

#header {
  background-color: #1f2a39;
  height: 100px;
  gap: 155px;
  padding: 0 66px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.logo img,
.user img {
  width: 48px;
  height: 48px;
}

.logo {
  gap: 14px;
  font-size: 25px;
  font-weight: 700;
}

.nav {
  gap: 60px;
  padding: 0 27px;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}

.nav li a:hover {
  border-bottom: 1px solid white;
}

.user {
  padding: 5px;
  border-radius: 50px;
  border: 3px solid white;
}

.burger {
  display: none;
}

.burger img {
  width: 32px;
  height: 32px;
}

.horizontalMenu {
  top: 0;
  right: -200px;
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: white;
  border-radius: 30px 0 0 30px;
  color: black;
  transition: 0.4s;
  padding-top: 40px;
}

.horizontalMenu li a {
  color: black;
  cursor: pointer;
}

.closeBtn {
  font-weight: 800;
  font-size: 28px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.horizontalMenu li a:hover {
  border-bottom: 1px solid black;
}

.horizontalMenu .nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Main------------------------------------------------------------- */
main {
  max-width: 1380px;
  width: 100%;
  padding: 30px;
  margin: auto;
}

article {
  max-width: 1260px;
  width: 100%;
  margin: auto;
  margin-top: 80px;
}

article p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.products {
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
}

.productListItem {
  background-color: #25272f;
  display: flex;
  justify-content: flex-start;
  gap: 28px;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
  height: 150px;
}

.productListItem:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  background-color: #2f3139;
  cursor: pointer;
}

.productListItem img {
  width: 300px;
  height: 150px;
  border-right: 5px solid white;
}

.productListItem h3 {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.productListItem p {
  font-size: 15px;
  color: #dbdbdb;
  text-transform: uppercase;
}

.productListItem button {
  font-size: 15px;
  background-color: #6a8704;
  padding: 8px 55px;
  color: white;
  border-color: transparent;
}

.productListItem div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Form------------------------------------------------------------- */

form {
  padding-left: 40px;
}

form input[type="text"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 20%;
  background-color: #6a8704;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Table------------------------------------------------------------- */
table {
  font-size: 15px;
  border-spacing: 20px;
  margin: auto;
}

table caption {
  border-bottom: 3px solid white;
  padding: 15px;
  font-size: 26px;
  font-weight: 700;
}

table th {
  text-align: left;
}

table th:last-child {
  padding-left: 150px;
}

table tr td {
  color: rgb(213, 213, 213);
}

table tr td:nth-child(3) {
  padding-left: 150px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* -----------------------------Footer------------------------------------------------------------- */
footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #1f2a39;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin-right: 5%;
}

footer img {
  width: 24px;
  height: 24px;
}
/* ---------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1440px) and (min-width: 1024px) {
  #header {
    gap: 30px;
  }

  .logo {
    gap: 14px;
    font-size: 18px;
  }

  .nav {
    gap: 20px;
    padding: 0 5px;
    font-size: 18px;
  }
  main {
    max-width: 984px;
    padding: 20px;
  }

  article {
    max-width: 984px;
  }

  .productListItem {
    gap: 18px;
    height: 100px;
  }

  .productListItem img {
    width: 200px;
    height: 100px;
  }

  .productListItem h3 {
    font-size: 18px;
  }

  .productListItem p {
    font-size: 12px;
  }

  .productListItem button {
    font-size: 12px;
    padding: 5px 35px;
  }

  .productListItem div {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  #header {
    gap: 30px;
  }

  .logo img,
  .user img {
    width: 32px;
    height: 32px;
  }

  .logo {
    gap: 14px;
    font-size: 16px;
  }

  .nav {
    gap: 20px;
    padding: 0 5px;
    font-size: 16px;
  }

  main {
    max-width: 728px;
    padding: 20px;
  }

  article {
    max-width: 728px;
  }

  .productList {
    grid-template-columns: 1fr;
    row-gap: 25px;
    column-gap: 25px;
  }

  .productListItem {
    gap: 28px;
    height: 150px;
  }

  .productListItem img {
    width: 300px;
    height: 150px;
  }

  .productListItem div {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
  #header {
    gap: 10px;
    padding: 0 20px;
  }

  .logo img,
  .user img {
    width: 32px;
    height: 32px;
  }

  .logo {
    gap: 20px;
    font-size: 20px;
  }

  .nav {
    display: none;
  }

  .user {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  main {
    max-width: 385px;
    padding: 20px;
  }

  article p {
    text-align: justify;
  }

  .productList {
    grid-template-columns: 1fr;
  }

  .productListItem {
    flex-direction: column;
    height: 100%;
  }

  .productListItem img {
    width: 100%;
    height: 150px;
    border-right: transparent;
    border-bottom: 5px solid white;
  }

  .productListItem button {
    display: none;
  }

  .productListItem div {
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 25px;
  }

  table th:last-child,
  table tr td:nth-child(3) {
    padding-left: 10px;
  }
}

@media screen and (max-width: 425px) {
  #header {
    gap: 10px;
    padding: 0 20px;
  }

  .logo img,
  .user img {
    width: 32px;
    height: 32px;
  }

  .logo {
    gap: 20px;
    font-size: 20px;
  }

  .nav {
    display: none;
  }

  .user {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  main {
    max-width: 280px;
    padding: 20px;
  }

  article p {
    text-align: justify;
  }

  .productList {
    grid-template-columns: 1fr;
  }

  .productListItem {
    flex-direction: column;
    height: 100%;
  }

  .productListItem img {
    width: 100%;
    height: 150px;
    border-right: transparent;
    border-bottom: 5px solid white;
  }

  .productListItem button {
    display: none;
  }

  .productListItem div {
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 25px;
  }

  table th:last-child,
  table tr td:nth-child(3) {
    padding-left: 10px;
  }

  table {
    display: flex;
    flex-direction: column;
  }

  table tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  table tr td:nth-child(odd) {
    display: none;
  }
}
